@media screen and (max-width: 970px) {
 
    /* PAGINA 1: HOME */
    .header{
        padding: 3% 5%;
        display: flex;
        justify-content: space-between;
       
    }
    
    .header__imagem {
        width: 32%;
        height: auto;
        scale: 0.85;
    }

    .header__navigation{
        display: none;
        font-size: 1rem;
     }
    
     .header__navigation__mobile{
        display: inline-block;
        position: relative;
     }

     .header__navigation__mobile details{
        display: inline-block;
        position: relative;
        
     }

     .header__navigation__mobile summary{
        font-size: 1.5rem;
        cursor: pointer;
        user-select: none;
        margin: 0;
     }

     .header__navigation__mobile summary::-webkit-details-marker {
        display: none;
    } 

    .header__navigation__mobile details nav {
        position: absolute;
        right: 0;
        top: 100%;
        background: #00095b;
        border: 1px solid #ccc;
        border-radius: 12px;
        padding: 0.9375rem;
        margin: 0;
        list-style: none;
        display: none;
        min-width: 150px;
        z-index: 1;
    }

    .header__navigation__mobile  details[open] nav {
        display: block;
      }

      .header__navigation__link {
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 1.0625rem;
      }

      .header__navigation__link:hover {
        color: #333;
      }

      .conteudo__principal{
        gap: 3rem;
        padding: 0 0.35%;
      }
      
      .conteudo__principal__imagem{
        width: 100% !important;
        
      }

      .conteudo__principal__texto{
        font-size: 1.75rem;
        padding: 0 1.5%;
        font-family: "FordAntenna", Arial, Helvetica, "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", "SimSun", "宋体", serif;
      }

      .rodape{
        width: auto;
        flex-direction: column;
        justify-content: center;
        padding: 2% 0;
        gap: 0.4rem;
      }

      .rodape__elementos__esquerda{
        
        padding: 2% 0;
      }

      .rodape__elementos__texto{
        font-size: 1.25rem;
      }

      .rodape__copyright__container{
        display: flex;
        width: 80vw;
        
      }

      .rodape__copyright__texto{
        font-size: 0.8rem;
      }

      .rodape__elementos__direita{
       
        padding: 2% 0;
      }

      /* PÁGINA2: LANÇAMENTO */


      .main__video{
        padding-bottom: 56%; /* Proporção 16:9 (9/16 = 0.5625) */
      }
      
      /* .modelos{
        flex-direction: column;
      } */

      .modelos {
        flex-direction: column;
      }

      .modelos__container {
        flex-direction: column;
      }

      .btn-comparar{
        font-size: 0.75rem;
      }

      .main__formulario{
        flex-direction: column;
        gap: 0.5rem;
      }

      .main__formulario__imagem{
        scale: 0.8;
        
      }
  }