@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #00095b;
  --cor-quaternaria: #121212;

  --fonte-primaria: "Montserrat", serif;
  --fonte-secundaria: "Krona One, sans serif" 


}

body {
  color: var(--cor-primaria);
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  /* Para centralizar o conteúdo com flex: */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* Página1: HOME */

.header {
  border-bottom: 2px solid var(--cor-terciaria);
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 1.5rem;
  width: 100vw;
  z-index: 1;
  background-color: var(--cor-secundaria);
}

.header__imagem {
  height: 3.75rem;
  justify-self: center;
  max-width: 100%;
}

.header__navigation {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 3.75rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat", serif;
  color: var(--cor-quaternaria);
}

/* estilização específica para os links */
.header__navigation__link {
  text-decoration: none;
  background-color: var(--cor-terciaria);
  padding: 0.75rem;
  border-radius: 8px;
  color: var(--cor-secundaria);
}

.header__navigation__link:hover {
  scale: 1.1;
  background-color: var(--cor-quaternaria);
  transition: 0.4s;
}

.header__navigation__mobile{
  display: none;
}

.conteudo__principal {
  padding: 0 12.5%;
  display: flex;
  flex-direction: column;
  flex-grow: 1 ;
  justify-content: center;
  gap: 1.25rem;
  color: var(--cor-terciaria);
  margin: 0.5rem 0; /* espaçamento para separar header e footer */
}

.conteudo__principal img{
  width: 100%;
}

.conteudo__principal__texto {
  text-align: center;
  font-family: "Montserrat", serif;
  font-size: 1.25rem;
}

.conteudo__principal__texto__descricao__link {
  color: var(--cor-terciaria);
}
.rodape {
  background-color: var(--cor-terciaria);
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  align-items: center;
  bottom: 0%;
}

.rodape__elementos__esquerda {
  display: flex;
  padding: 0.625rem 1rem;
  align-items: center;
  gap: 1rem;
}

.rodape__elementos__texto {
  color: var(--cor-secundaria);
  font-family: "Montserrat", serif;
  font-size: 1rem;
}

.rodape__copyright__container{
  width: 18vw;
}

.rodape__copyright__texto{
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: "Montserrat", serif;
}

.rodape__elementos__direita {
  padding: 0 1.65625rem;
}

/*página 2: Lançamento */
.main__content {
  display: flex;
  flex-direction: column;
  margin: 1.875rem 0;
  flex-grow: 1;
  justify-content: center;
  gap: 3rem;
}

.main__video {
  position: relative;
  padding-bottom: 35%; /* Proporção 16:9 (9/16 = 0.5625) */
  height: 0;
  overflow: hidden;
  width: 100%;
}

.main__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.modelos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.375rem;
  padding: 1% 15%;
}

.modelos__container img {
  width: 100%;
  height: auto;
  transform: scale(0.8);
}

.modelos__container__info{
  display: flex;
  width: 16.27rem;
  font-size: 1.125rem;
}


.modelos__container__info input[type="checkbox"] {
  transform: scale(3.5); /* Aumenta o checkbox para ficar mais visível */
  margin-right: 2.35rem;
  border: 2px solid #333;
  cursor: pointer;
}


.modelos__container__info img{
  scale: 0.5;
}

.paragrafo__destaque {
  color: blue;
}

.botao__comparar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
}

.btn-comparar {
  transform: scale(1.7);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  background-color: blue;
  color: var(--cor-secundaria);
  cursor: pointer;
}

.btn-comparar:hover {
  background-color: var(--cor-quaternaria);
  scale: 1.1;
  transition: 0.3s;
}

/* Página3: CONTATO */

.main__formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 5.625rem;
  padding: 2.1875rem;
  font-family: "Montserrat", serif;
}

/* imagem da pagina do formulario */
.main__formulario__imagem {
  scale: 1.5;
}

/* container do formulário */
.container__formulario {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /*sombreado nas extremidades do container*/
  width: 400px;
  max-width: 100%;
  overflow: hidden; /*para garantir que não vai sobrepor algumas informações*/
}

/* container do título formulário */
.header__formulario {
  background-color: var(--cor-terciaria);
  padding: 1.25rem;
  color: var(--cor-secundaria);
  font-size: 1.375rem;
}

.form {
  padding: 1.25rem;
}

/* container das informações */
.form__control {
  margin-bottom: 0.625rem; /*dá mais margem para baixo*/
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 0.625rem;
  position: relative;
}

.form__control label {
  margin-bottom: 0.3125rem;/*dá margem entre o input e o label*/
}

/* estiliza o input, o select e textarea da classe form__control */
.form__control input, .form__control select, .form__control textarea  {
  border: 2px solid var(--cor-terciaria);
  border-radius: 10px;
  padding: 0.625rem;
  font-size: 0.875rem;
  width: 100%; /*ocupa 100% da espaço disponível na largura*/
  display: flex;
}

.form__control input:focus, .form__control select option:focus, .form__control textarea:focus {
  /*pseudoclasse de mudar a visibilidade quando for digitar*/
  background-color: #e0e0f8;
}

/* icone que pode vim a aparecer em caso de erro ou acerto com o javascript modificando */
.form__control i {
  position: absolute;
  right: 0.625rem;
  top: 2.125rem;
  visibility: hidden;
}

/* mensagem de erro controlada pelo JavaScript */
.form__control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/* estilização do botao para submeter os dados */
.form button {
  border: 2px solid var(--cor-terciaria);
  background-color: blue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: var(--cor-secundaria);
  font-size: 0.875rem;
  padding: 0.625rem;
  width: 100%;
  border-radius: 10px;
  font-family: "Montserrat", serif;
  cursor: pointer;
}

/* mudança da visibilidade do botão ao passar o cursor */
.form button:hover {
  background-color: var(--cor-terciaria);
  scale: 1.035;
  transition: 0.3s;
}