.main__content {
  display: flex;
  flex-direction: column;
  margin: 1.875rem 0;
  flex-grow: 1;
  justify-content: center;
  gap: 3rem;
}

.main__video {
  position: relative;
  padding-bottom: 35%; /* Proporção 16:9 (9/16 = 0.5625) */
  height: 0;
  overflow: hidden;
  width: 100%;
}

.main__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modelos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.375rem;
  padding: 1% 15%;
}

.modelos__container img {
  width: 100%;
  height: auto;
  transform: scale(0.8);
}

.modelos__container__info {
  display: flex;
  width: 16.27rem;
  font-size: 1.125rem;
}

.modelos__container__info input[type="checkbox"] {
  transform: scale(3.5); /* Aumenta o checkbox para ficar mais visível */
  margin-right: 2.35rem;
  border: 2px solid #333;
  cursor: pointer;
}

.modelos__container__info img {
  scale: 0.5;
}

.modelos__container__info__paragrafo {
  width: 250px;
  cursor: pointer;
}

.paragrafo__destaque {
  color: blue;
}

.botao__comparar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
}

.btn-comparar {
  transform: scale(1.7);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  background-color: blue;
  color: var(--cor-secundaria);
  cursor: pointer;
}

.btn-comparar:hover {
  background-color: var(--cor-quaternaria);
  scale: 1.1;
  transition: 0.3s;
}

div#compare {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50vw;
  max-width: 50rem;
  min-width: 25rem;
  height: 74vh;
  max-height: 43.75rem;
  min-height: 21.875rem;
  background: #fff;
  top: calc(100vh - 80%);
  left: 25vw;
  border-radius: 10px;
  padding: 0.625rem;
  -webkit-box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
  box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
  box-sizing: border-box;
  font-family: var(--fonte-primaria);
}

.compare-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.compare-row:nth-child(even) {
  background-color: #f2f2f2;
}

.compare-cell {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.compare-cell:first-child {
  font-weight: bold;
  width: 40%;
}

.img-car-table {
  width: 15.25rem; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

.botao__fechar {
  height: 40px;
  width: 12.5rem;
  margin-top: 20px;
  cursor: pointer;
  background-color: #1351d8;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.botao__fechar:hover {
  background-color: #0d3a9e;
}